table {
  width: 100%;
  height: 50%;
}
  .material-icons{
    cursor: pointer;
  }

  .highlight{
    background:whitesmoke; 
  }
  /* #addRowDv{
    margin-left: 1000px;
  } */

  /* mat-form-field {
    width: 80px;
  } */
 