<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Ratnesh Chauhan (Technical Specialist)&nbsp;<mat-icon class="material-icons" color="primary">smoking_rooms</mat-icon> </mat-card-title>
    <mat-card-subtitle>
      I have more than 10 year's of working experience in UI/UX development, Server programming, APIs, Database design and development.
      I have the ability to develop an application or a product end to end, i.e., from scratch to live deployment. I have
      been developing applications and products using MySQL as database, Spring, Hibernate for business logic and data access
      and JQuery, Angular and React for presentation (along with HTML and CSS ), Apache Web Server to serve my application
      and finally run entire application on Windows and/or Linux OS. The stack of software technologies I have worked on
    </mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>


    <div id="content">


      <mat-icon class="material-icons" color="primary">done_all</mat-icon>I Know how to work around a Windows or Linux operating system.
      <br/>
      <mat-icon class="material-icons" color="primary">done_all</mat-icon>I Know how to work around a relational database (E.g.: MySQL, Oracle, etc.)
      <br/>
      <mat-icon class="material-icons" color="primary">done_all</mat-icon>I'm strong in Java, SQL, HTML, CSS and Javascript.
      <br/>
      <mat-icon class="material-icons" color="primary">done_all</mat-icon>I Know how to use a web frameworks like Servlets, JSP, JSF, SpringMVC, Struts, GWT etc.
      <br/>
      <mat-icon class="material-icons" color="primary">done_all</mat-icon>I Know how to use DI frameworks like Spring
      <br/>
      <mat-icon class="material-icons" color="primary">done_all</mat-icon>I Know how to use ORM frameworks like Hibernate.
      <br/>
      <mat-icon class="material-icons" color="primary">done_all</mat-icon>I Can write and setup the various testing strategies (unit tests, integration test, etc.) using tools like
      JUnit, Mockito, etc.
      <br/>
      <mat-icon class="material-icons" color="primary">done_all</mat-icon>I Know associated infrastructure technologies for logging, caching, security, queues etc. (Log4J, ehcache,
      Spring security, ElasticSearch, ActiveMQ etc.)
      <br/>
      <mat-icon class="material-icons" color="primary">done_all</mat-icon>I Know how to work with a Version Control System (VCS) like SVN, Git, TFS etc.
      <br/>
      <mat-icon class="material-icons" color="primary">done_all</mat-icon>I Know some devops tools (for CI/CD) like Jenkins, Hudson etc.
      <br/>
      <mat-icon class="material-icons" color="primary">done_all</mat-icon>I know how to build UI using JQuery, Angular, React, Bootstrap etc.

    </div>


  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary">LIKE</button>
    <button mat-button color="primary">SHARE</button>
  </mat-card-actions>
</mat-card>